body{
    background-color: #FFAF61;
}


.formatar{
    text-align: center;
    background-color: #FFDB5C;
    color:#FF70AB
}


#campoTexto{
    text-align: center;
    background-color: #FFDB5C;
    

}

textarea{
    background-color: #FFDB5C;
    padding-top: 70px;
    padding-bottom: 150px;
    border: 0px; solid;
    text-align: center;
    resize: none;
    overflow: hidden;
}

.lora-fonte {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
    font-size: 1.3rem;

  }
  
  